footer {
    position: relative;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;

    figcaption,
    p {
        font-family: 'Futura Std';
        font-weight: normal;
        font-style: normal;
        color: #000;
        text-transform: uppercase;
    }

    figcaption {
        font-size: 13px;
        line-height: 13px;
    }
    p {
        font-size: 11px;
        line-height: 15px;
    }
    .caixa {
        margin-top: 40px;
    } 
    .vemplan {
        margin-top: 40px;
    }
    .riacho {
        margin-top: 20px;
    }  
    .faleiros {
        margin-top: 40px;
    }
}


/* Extra Small */
@media(max-width:767px) {
    footer {
        padding-top: 30px;
        padding-bottom: 15px;
    
        p {
            font-size: 11px;
            line-height: 15px;
        }
        .caixa {
            margin-top: 20px;
        } 
        .vemplan {
            margin-top: 20px;
        }
        .riacho {
            margin-top: 20px;
        }  
        .faleiros {
            margin-top: 20px;
        }
        .space {
            margin-bottom: 30px;
        }
    }
}

/* Small */
@media(min-width:768px) and (max-width:991px) {}

/* Medium */
@media(min-width:992px) and (max-width:1199px) {}

/* Large */
@media(min-width:1200px) {}