/* Extra Small */
@media(max-width:767px){
    form {
        width: 100%;
        margin-bottom: 20px;
    }
    .group-form {
        padding-bottom: 10px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }
    form .tt-form p {
        font-size: 18px;
        line-height: 22px;
    }
}

/* Small */
@media(min-width:768px) and (max-width:991px){
    form {
        width: 100%;
        margin-bottom: 20px;
    }
    .group-form {
        padding-bottom: 10px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }
    form .tt-form {
        -webkit-border-top-left-radius: 20px;
        -webkit-border-top-right-radius: 20px;
        -moz-border-radius-top-left: 20px;
        -moz-border-radius-top-right: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    form .tt-form p {
        color: #FFF;
        font-size: 21px;
    }
}

/* Medium */
@media(min-width:992px) and (max-width:1199px){
    form {
        width: 100%;
        margin: 0 auto;
    }
    .group-form {
        padding-bottom: 15px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }
    form .tt-form {
        -webkit-border-top-left-radius: 20px;
        -webkit-border-top-right-radius: 20px;
        -moz-border-radius-top-left: 20px;
        -moz-border-radius-top-right: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    form .tt-form p {
        color: #FFF;
        font-size: 23px;
    }
}
/* Large */
@media(min-width:1200px){
    form {
        width: 90%;
        margin: 0 auto;
    }
    .group-form {
        padding-bottom: 15px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }
    form .tt-form {
        -webkit-border-top-left-radius: 20px;
        -webkit-border-top-right-radius: 20px;
        -moz-border-radius-top-left: 20px;
        -moz-border-radius-top-right: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    form .tt-form p {
        color: #FFF;
        font-size: 23px;
    }
}
.margin-top { margin-top: 10px; }
.margin-top-5 { margin-top: 5px; }
.margin-top-15 { margin-top: 15px; }
.margin-top-20 { margin-top: 20px; }
.margin-top-27 { margin-top: 27px; }
.margin-top-30 { margin-top: 30px; }
.margin-top-40 { margin-top: 40px; }
.margin-top-50 { margin-top: 50px; }
.margin-top-54 { margin-top: 54px; }
.margin-top-60 { margin-top: 60px; }
.margin-top-65 { margin-top: 65px; }
.margin-top-70 { margin-top: 70px; }
.margin-top-80 { margin-top: 80px; }
.margin-top-90 { margin-top: 90px; }
.margin-top-99 { margin-top: 99px; }
.margin-top-100 { margin-top: 100px; }
.margin-top-110 { margin-top: 110px; }
.margin-top-120 { margin-top: 120px; }
.margin-top-140 { margin-top: 140px; }
.margin-top-149 { margin-top: 149px; }
.margin-top-150 { margin-top: 150px; }
.margin-top-160 { margin-top: 160px; }
.margin-top-200 { margin-top: 200px; }
.margin-top-220 { margin-top: 220px; }
.margin-top-230 { margin-top: 230px; }
.margin-top-250 { margin-top: 250px; }
.margin-top-330 { margin-top: 330px; }
.margin-top-350 { margin-top: 350px; }
.margin-top-380 { margin-top: 380px; }
.margin-top-385 { margin-top: 385px; }
.margin-top-390 { margin-top: 390px; }
.margin-top-400 { margin-top: 400px; }
.padding-off {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
p { margin: 0; }

body {
    background-color: #ededed;
}
.container-off-padding {
    padding-left: 0px;
    padding-right: 0px;
}
.row-off-margin {
    margin-left: 0px;
    margin-right: 0px;
}
.form-group {
    margin-bottom: 5px;
    padding: 0 10px;
}
label {
    margin-bottom: 1px;
    font-size: 13px;
}
form label {
    text-transform: uppercase;
    color: #000000;
}
form button {
    text-transform: uppercase;
    color: #fff;
}
form .enviar {
    width: 95%;
    margin-top: 5px;
    font-size: 18px;
    letter-spacing: 2px;
    background-color: #000000;
    padding-bottom: 15px;
    padding-top: 13px;
    border: solid 3px #fff;
}
form .enviar:hover, form .enviar:focus {
    color: #ddd;
}
.group-form {
    background-color: #fa520a;
}
form .tt-form {
    width: 100%;
    padding: 15px 0;
    float: left;
    background-color: #000000;
    margin-bottom: 10px;
}
